<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d3066ca3-be2c-4325-8258-32a4010ec92e" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d3066ca3-be2c-4325-8258-32a4010ec92efileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
